.Categories {
    display: grid;
    grid-gap: 16px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 40px auto;
    width: 80%;
}

.Ranking {
    display: grid;
    gap: 40px 32px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 40px auto;
    width: 80%;
}

.Banner {
    margin: 40px auto;
    width: 80%;
    img {
        display: block;
        margin: 0 auto;
        width: 100%;
    }
}
