.Register-confirm {
    margin: 0 auto 40px;
    padding: 0 160px;
    width: 80%;
    &__list {
        display: grid;
        grid-gap: 8px;
        grid-template-columns: 240px 1fr;
        width: 100%;
    }
    &__label {
        color: #606060;
        font-size: 16px;
        list-style: none;
    }
    &__item {
        color: #f12c52;
        font-size: 16px;
        list-style: none;
    }
    &__button {
        background: #f12c52;
        color: #fff;
        display: block;
        margin: 0 0 16px auto;
        width: 240px;
        &--back {
            background: #606060;
        }
    }
}
