// 全体設置

@charset "utf-8";

* {
    box-sizing: border-box;
}

body {
    background: #fff;
    color: #000;
    font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN",
        "Hiragino Sans", Meiryo, sans-serif;
}

img {
    max-width: 100%;
}

// pages
@import "./pages//mypage.scss";

// components
@import "./components/Header";
@import "./components/Logo";
@import "./components/Personal-nav";
@import "./components/Search";
@import "./components/Site-links";
@import "./components/Main-visual";
@import "./components/Title";
@import "./components/Brands";
@import "./components/Product";
@import "./components/New-arrive";
@import "./components/Footer";
@import "./components/Search-products";
@import "./components/Button";
@import "./components/Contents-title";
@import "./components/Order-history";
