.Title {
  background: #ff8383;
  border-radius: 32px;
  color: #fff;
  font-size: 36ox;
  font-weight: bold;
  letter-spacing: 8px;
  margin: 48px auto 0;
  padding: 20px 42px;
  text-align: center;
  width: 40%;
}