* {
  box-sizing: border-box;
}

body {
  background: #fff;
  color: #000;
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
}

img {
  max-width: 100%;
}

.Header {
  align-items: center;
  display: flex;
  padding: 36px 8vw;
  width: 100%;
}

.Header__logo {
  margin-right: 2.5vw;
}

.Header__nav {
  border: 1px solid #000;
  padding: 16px 24px;
  position: relative;
  width: 35%;
}

.Header__search {
  margin: 0 4vw;
}

.Logo {
  display: inline-block;
  width: 8%;
}

.Logo__link {
  color: #000;
  text-decoration: none;
}

.Logo__img {
  max-width: 100%;
}

.Header__Logo {
  margin-right: 0.25vw;
}

.Personal-nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 14%;
}

.Personal-nav__item {
  cursor: pointer;
  list-style: none;
  margin-right: 1.5vw;
  width: 33%;
}

.Personal-nav__item--auth {
  cursor: pointer;
  list-style: none;
  margin-right: 1.5vw;
  position: relative;
  width: 33%;
}

.Personal-nav__item--auth::after {
  border-color: #000000 transparent transparent transparent;
  content: "";
  border-style: solid;
  border-width: 6.9px 4px 0 4px;
  display: inline-block;
  height: 0;
  position: absolute;
  right: -8px;
  top: 14px;
  width: 0;
}

.Personal-nav__img {
  height: 2.5vw;
  -o-object-fit: contain;
     object-fit: contain;
  max-width: 100%;
  width: 2.5vw;
}

.Personal-nav__img:hover {
  opacity: 0.3;
  transition: 0.2s;
}

.Personal-nav__auth {
  display: none;
  background: #fff;
  border: 1px solid #fff;
  padding: 8px 24px 8px 40px;
  left: -36px;
  position: absolute;
  top: 150%;
  width: 15vw;
}

.Personal-nav__auth::after,
.Personal-nav__auth::before {
  bottom: 100%;
  left: 25%;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.Personal-nav__auth::after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #fff;
  border-width: 12px;
  margin-left: -12px;
}

.Personal-nav__auth::before {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #fff;
  border-width: 12px;
  margin-left: -12px;
}

.Personal-nav__link {
  color: #000;
  display: block;
  font-size: 14px;
  margin: 8px 0;
  position: relative;
  text-decoration: none;
  transition: 0.2s;
}

.Personal-nav__link::after {
  border-right: solid 2px;
  border-top: solid 2px;
  color: inherit;
  content: "";
  display: block;
  height: 6px;
  left: -16px;
  position: absolute;
  top: 9px;
  transform: rotate(45deg) translateY(-50%);
  width: 6px;
}

.Personal-nav__link:hover {
  color: #ff8383;
}

.open {
  display: block;
}

.Search {
  max-width: 100%;
  position: relative;
  width: 30%;
}

.Search::after {
  background-image: url(/images/search.svg?42e00da202a491ad74b818c243a1a3e0);
  content: "";
  display: inline-block;
  height: 16px;
  left: 16px;
  position: absolute;
  top: 8px;
  width: 16px;
}

.Search__input {
  border: 1px solid #000;
  border-radius: 10px;
  font-size: 14px;
  height: auto;
  padding: 8px 24px 8px 36px;
  width: 100%;
}

.Site-links {
  display: flex;
  font-size: 14px;
  justify-content: space-between;
  width: 100%;
}

.Site-links__link {
  color: #000;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
}

.Main-visual {
  margin: 0 auto;
  max-width: 1080px;
  width: 100%;
}

.Main-visual__img {
  max-width: 100%;
}

.Title {
  background: #ff8383;
  border-radius: 32px;
  color: #fff;
  font-size: 36ox;
  font-weight: bold;
  letter-spacing: 8px;
  margin: 48px auto 0;
  padding: 20px 42px;
  text-align: center;
  width: 40%;
}

.Brands {
  margin: 20px auto 80px;
  width: 55%;
}

.Brands__title {
  margin: 0 auto 40px;
  width: 60%;
}

.Brands__img-wrap {
  display: grid;
  gap: 24px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  place-items: center;
  width: 100%;
}

.Brands__link {
  border-radius: 12px;
  display: block;
  height: auto;
  padding: 16px 8px 39px;
  position: relative;
  transition: 0.2s;
  width: 100%;
}

.Brands__link:hover {
  background: rgba(255, 133, 133, 0.12);
}

.Brands__link:hover::after {
  transform: translateX(16px);
}

.Brands__link::after {
  background-image: url(/images/arrow.svg?b7f302b40c0b1b8ff9f2f46ad1221bd1);
  bottom: 8px;
  content: "";
  display: block;
  height: 15px;
  left: 45%;
  position: absolute;
  transition: 0.2s;
  width: 15px;
}

.Brands__img {
  height: 120px;
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
}

.Product {
  min-height: 300px;
  position: relative;
}

.Product__img-wrap {
  height: auto;
  padding: 32px;
  width: 100%;
}

.Product__img {
  height: auto;
  max-width: 100%;
  width: 100%;
}

.Product__name {
  color: #000;
  display: block;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 1.75;
  margin: 14px auto;
  text-decoration: none;
}

.Product__price {
  color: #e074aa;
  display: block;
  font-size: 12px;
  letter-spacing: 1px;
  text-decoration: none;
}

.Product__favorite-button {
  height: 25px;
  position: absolute;
  right: 8px;
  top: 8px;
  width: 25px;
}

.new {
  background: #fff3a7;
}

.ranking {
  background: #ffcccc;
}

.New-arrive {
  display: grid;
  gap: 40px 32px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin: 40px auto;
  width: 80%;
}

.New-arrive__more {
  background: #8dc8d2;
  color: #fff3a7;
  display: block;
  font-size: 16px;
  grid-column: 4/5;
  margin: 0 0 0 auto;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  width: 180px;
}

.Footer {
  background: #ff8383;
  display: grid;
  grid-template-rows: 1fr 1fr;
  padding: 40px 0;
  place-items: center;
  width: 100%;
}

.Footer__links {
  width: 25%;
}

.Search-products {
  background: #fff;
  box-shadow: 0 0 3px #eee;
  display: none;
  margin: 0 auto;
  left: 0;
  padding: 18px;
  position: absolute;
  top: 70px;
  width: 65vw;
}

.Search-products__outer-wrap {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(5, 1fr);
}

.Search-products__item {
  margin-bottom: 8px;
}

.Search-products__title {
  font-size: 16px;
  margin-bottom: 16px;
}

.Search-products__link {
  color: #000;
  display: inline-block;
  font-size: 14px;
  text-decoration: none;
}

.Search-products__radio {
  display: inline-block;
}

.Search-products__operation {
  display: flex;
  justify-content: end;
  margin: 0 0 0 auto;
  width: 30%;
}

.Search-products__button {
  display: inline-block;
  margin: 0 0 0 auto;
  width: 250px;
}

.Search-products__close {
  border: 1px solid #000;
  display: inline-block;
  margin: 0 16px 0 auto;
  text-align: center;
  width: 250px;
}

.Button {
  color: #fff;
  display: block;
  height: auto;
  padding: 1em 2em;
  text-decoration: none;
  width: auto;
}

.Button--red {
  background: #f12c52;
}

.Contents-title {
  border-bottom: 1px solid #d5516e;
  font-size: 36px;
  font-weight: normal;
  margin: 40px auto;
  width: 80%;
}

.Order-history {
  border: 1px solid #868686;
  color: #606060;
  padding: 24px 32px;
}

.Order-history__title {
  font-size: 20px;
}

.Order-history__select {
  border: 1px solid #c0c0c0;
  border-radius: 3px;
  font-size: 12px;
  margin: 16px 16px 16px 0;
  padding: 8px 32px 8px 8px;
}

.Order-history__button {
  display: inline-block;
  font-size: 12px;
  padding: 8px 16px;
}

.Order-history__labels {
  border-top: 1px solid #868686;
  display: grid;
  grid-gap: 16px;
  grid-template-columns: 14.5% 20% 12% 1fr 1fr 1fr;
  padding: 8px 0;
}

.Order-history__list {
  align-items: center;
  border-top: 1px solid #868686;
  display: grid;
  grid-gap: 16px;
  grid-template-columns: 14.5% 20% 12% 1fr 1fr 1fr;
  padding: 16px 0;
  width: 100%;
}

.Order-history__text {
  color: #000;
  font-size: 14px;
}

.Order-history__text a {
  color: #000;
  text-decoration: none;
  transition: 0.2s;
}

.Order-history__text a:hover {
  color: #ff8383;
}

.Bread-list__link {
  color: #f35376;
  cursor: pointer;
  font-size: 12px;
  text-decoration: none;
}

.Bread-list__link:hover {
  opacity: 0.5;
}

.Categories {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin: 40px auto;
  width: 80%;
}

.Ranking {
  display: grid;
  gap: 40px 32px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 40px auto;
  width: 80%;
}

.Mypage {
  text-align: left;
}

.Mypage__welcome {
  display: block;
  margin: 0 auto 48px;
  width: 220px;
}

.Mypage__order-history {
  margin: 0 auto 42px;
  width: 75%;
}

.User-data-change {
  border: 1px solid #868686;
  margin: 0 auto 40px;
  padding: 16px;
  text-align: center;
  width: 75%;
}

.User-data-change p {
  font-size: 16px;
  margin-bottom: 16px;
}

.User-data-change a {
  margin: 8px auto;
  width: 33%;
}

.Favorite {
  margin-bottom: 40px;
  width: 100%;
}

.Favorite__list {
  margin: 0 auto;
  width: 75%;
}

.Favorite__label {
  display: grid;
  grid-gap: 32px;
  grid-template-columns: 22% 25% 1fr 1fr 25%;
  padding: 8px 0;
}

.Favorite__item {
  align-items: center;
  border-top: 1px solid #d5516e;
  display: grid;
  grid-gap: 32px;
  grid-template-columns: 22% 25% 1fr 1fr 25%;
  padding: 16px 0;
}

.Favorite__cart {
  border: 1px solid #f12c52;
  font-size: 14px;
  margin-right: 16px;
  padding: 6px 8px;
}

.Favorite__remove {
  background: #f12c52;
  color: #fff;
  font-size: 14px;
  padding: 6px 8px;
}

.Cart {
  color: #606060;
  font-size: 14px;
  margin-bottom: 40px;
  width: 100%;
}

.Cart__list {
  margin: 0 auto;
  width: 75%;
}

.Cart__label {
  display: grid;
  grid-gap: 32px;
  grid-template-columns: 1fr 1fr 90px 80px 80px 120px;
  padding: 8px 0;
}

.Cart__item {
  align-items: center;
  border-top: 1px solid #d5516e;
  display: grid;
  grid-gap: 32px;
  grid-template-columns: 1fr 1fr 90px 80px 80px 120px;
  padding: 16px 0;
}

.Cart__text {
  color: #000000;
  display: block;
  text-decoration: none;
  transition: 0.2s;
}

.Cart__text:hover {
  color: #f12c52;
}

.Cart__button {
  border: 1px solid #959595;
  display: grid;
  font-size: 14px;
  grid-template-columns: 30px 30px;
  grid-template-rows: 1fr 1fr;
  padding: 0 8px;
  width: 70px;
}

.Cart__button .text_box {
  display: block;
  grid-column: 1/2;
  grid-row: 1/3;
}

.Cart__button .btn_up {
  cursor: pointer;
  display: block;
  height: 20px;
  grid-column: 2/3;
  grid-row: 1/2;
  position: relative;
}

.Cart__button .btn_up::after {
  border-style: solid;
  border-width: 0 5px 7px 5px;
  border-color: transparent transparent #000000 transparent;
  height: 0;
  content: "";
  position: absolute;
  right: 8px;
  top: 8px;
  width: 0;
}

.Cart__button .btn_up:focus {
  outline: none;
}

.Cart__button .btn_down {
  cursor: pointer;
  display: block;
  height: 20px;
  grid-column: 2/3;
  grid-row: 2/3;
  position: relative;
}

.Cart__button .btn_down::after {
  border-style: solid;
  border-width: 7px 5px 0 5px;
  border-color: #000000 transparent transparent transparent;
  bottom: 8px;
  content: "";
  height: 0;
  position: absolute;
  right: 8px;
  width: 0;
}

.Cart__button .btn_down:focus {
  outline: none;
}

.Cart__link {
  margin: 0 0 16px auto;
  text-align: center;
  transition: 0.2s;
  width: 240px;
}

.Cart__link:hover {
  opacity: 0.7;
}

.Cart .remove_cart {
  background: #f12c52;
  color: #fff;
  padding: 8px 16px;
}

.Login {
  margin: 0 auto 40px;
  width: 100%;
}

.Login__form {
  border: 1px solid #606060;
  color: #606060;
  margin: 0 auto;
  padding: 16px;
  text-align: center;
  width: 50%;
}

.Login__title {
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 16px;
}

.Login__suggest {
  font-size: 14px;
  margin-bottom: 16px;
}

.Login__inner-wrapper {
  align-items: center;
  display: grid;
  grid-template-columns: 120px 1fr;
  font-size: 14px;
  margin: 24px auto;
  text-align: left;
  width: 50%;
}

.Login__input {
  border: 1px solid #a4a4a4;
  display: inline-block;
  padding: 8px 16px;
}

.Login__button {
  margin: 24px auto;
  text-align: center;
  width: 240px;
}

.Register {
  margin: 0 auto 40px;
  width: 100%;
}

.Register__error {
  color: #f12c52;
  font-size: 14px;
  margin: 16px auto;
  width: 70%;
}

.Register__form {
  border: 1px solid #606060;
  color: #606060;
  font-size: 14px;
  margin: 0 auto;
  padding: 16px;
  width: 70%;
}

.Register__outer-wrapper {
  margin: 0 auto;
  width: 80%;
}

.Register__title {
  font-size: 16px;
  font-weight: normal;
  margin: 16px auto;
}

.Register__inner-wrapper {
  display: grid;
  grid-template-columns: 140px 1fr;
  font-size: 14px;
  margin: 24px 0;
  text-align: left;
  width: 75%;
}

.Register__inner-wrapper--short {
  width: 50%;
}

.Register__input {
  border: 1px solid #a4a4a4;
  border-radius: 3px;
  display: inline-block;
  padding: 8px 16px;
}

.Register__password {
  align-items: center;
  display: grid;
  grid-gap: 8px;
  grid-template-rows: 1fr 1fr;
}

.Register__password span {
  font-size: 12px;
}

.Register__gender {
  display: grid;
  grid-gap: 8px;
  grid-template-rows: 1fr 1fr 1fr;
}

.Register__select {
  border: 1px solid #a4a4a4;
  border-radius: 3px;
  padding: 8px 16px;
}

.Register__address {
  display: grid;
  grid-gap: 8px;
  grid-template-rows: 1fr 1fr 1fr;
  width: 50%;
}

.Register__button {
  margin: 0 0 0 auto;
  width: 30%;
}

.Register-confirm {
  margin: 0 auto 40px;
  padding: 0 160px;
  width: 80%;
}

.Register-confirm__list {
  display: grid;
  grid-gap: 8px;
  grid-template-columns: 240px 1fr;
  width: 100%;
}

.Register-confirm__label {
  color: #606060;
  font-size: 16px;
  list-style: none;
}

.Register-confirm__item {
  color: #f12c52;
  font-size: 16px;
  list-style: none;
}

.Register-confirm__button {
  background: #f12c52;
  color: #fff;
  display: block;
  margin: 0 0 16px auto;
  width: 240px;
}

.Register-confirm__button--back {
  background: #606060;
}

.Product-detail {
  margin: 40px auto;
  padding: 0 120px;
  width: 100%;
}

.Product-detail__main {
  border-bottom: 1px solid #000;
  display: grid;
  grid-gap: 42px;
  grid-template-columns: 1fr 1fr;
  padding: 0 0 24px;
  margin: 16px 0 40px;
}

.Product-detail__name {
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 16px;
}

.Product-detail__model-name {
  color: #000;
  font-size: 14px;
  margin-bottom: 16px;
  text-decoration: none;
  transition: 0.2s;
}

.Product-detail__model-name:hover {
  color: #f12c52;
}

.Product-detail__price {
  font-size: 18px;
  margin-bottom: 16px;
}

.Product-detail__tag {
  margin-bottom: 16px;
}

.Product-detail__tag a {
  color: #3361ad;
  font-size: 14px;
  margin: 0 8px 16px 0;
  text-decoration: none;
  transition: 0.2s;
}

.Product-detail__tag a:hover {
  opacity: 0.7;
}

.Product-detail__stock {
  color: #999;
  font-size: 14px;
  margin-bottom: 16px;
}

.Product-detail__cart {
  background: #e73962;
  color: #fff;
  margin-bottom: 16px;
  padding: 16px 0;
  transition: 0.2s;
  width: 100%;
}

.Product-detail__cart:hover {
  opacity: 0.7;
}

.Product-detail__wish {
  background: #e73962;
  color: #fff;
  padding: 16px 0;
  transition: 0.2s;
  width: 100%;
}

.Product-detail__wish:hover {
  opacity: 0.7;
}

.Product-detail__precautions {
  color: #999;
  font-size: 14px;
  line-height: 1.75;
  margin-bottom: 16px;
}

.Product-detail__suggest {
  width: 100%;
}

.Product-detail__suggest h2 {
  color: #ff6666;
  font-size: 24px;
  margin-bottom: 16px;
}

.Product-detail__suggest img {
  display: inline-block;
  height: auto;
  width: 300px;
}

.Product-detail .swiper-container {
  width: 36vw;
}

.Product-detail .swiper-container.slider {
  height: 36vw;
}

.Product-detail .swiper-container.slider-thumbnail .swiper-wrapper .swiper-slide {
  width: 25%;
  opacity: 0.5;
  overflow: hidden;
}

.Product-detail .swiper-container.slider-thumbnail .swiper-wrapper .swiper-slide.swiper-slide-thumb-active {
  opacity: 1;
}

.Order {
  width: 100%;
}

.Order__inner-wrapper {
  margin: 0 auto;
  width: 75%;
}

.Order__label {
  border-bottom: 1px solid #d5516e;
  border-top: 1px solid #d5516e;
  color: #d5516e;
  display: grid;
  font-size: 14px;
  grid-gap: 32px;
  grid-template-columns: 1fr 1fr 120px 120px 120px;
  margin-bottom: 16px;
  padding: 16px 0;
}

.Order__detail {
  align-items: center;
  border-bottom: 1px solid #d5516e;
  display: grid;
  grid-gap: 32px;
  grid-template-columns: 1fr 1fr 120px 120px 120px;
  padding: 16px 0;
}

.Order__name {
  color: #000;
  text-decoration: none;
  transition: 0.2s;
}

.Order__name:hover {
  color: #d5516e;
}

.Order__info {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: 1fr 1fr;
  margin: 40px auto 0;
  width: 75%;
}

.Order__info-title {
  color: #d5516e;
  font-size: 24px;
  margin: 0 0 16px 0;
}

.Order__user-data {
  display: grid;
  font-size: 14px;
  grid-template-columns: 120px 1fr;
  margin-bottom: 8px;
}

.Order__links {
  margin: 0 auto;
  width: 75%;
}

.Order__link {
  margin-bottom: 16px;
  text-align: center;
  transition: 0.2s;
  width: 280px;
}

.Order__link:hover {
  opacity: 0.7;
}

.Order__complete {
  margin: 0 0 0 auto;
  width: 280px;
}

.Order__total {
  display: inline-block;
  font-size: 14px;
  margin-bottom: 16px;
}

.Order__total .total {
  color: #d5516e;
  font-size: 28px;
  margin-left: 60px;
}

.Order-finish {
  width: 100%;
}

.Order-finish__inner-wrapper {
  padding: 120px 0;
  text-align: center;
}

.Order-finish__inner-wrapper a {
  display: inline-block;
  margin: 40px 0;
  text-align: center;
  width: 300px;
}

